div.yd_title {
width: 940px;
margin-left: 40px;
}
div.zt_img
{
  border:1px solid #DBDBDB;
  width: 249px;
  padding: 15px;
  float:left;
  margin-left: 44px;
  margin-top:40px;
}
div.zt_img>p:nth-child(1)>a>img
{
  width:248px;
  height:130px;
  transform:none;
}
div.zt_img>p:nth-child(1)>a>img:hover
{
 transform:rotate(1deg);
}
div.zt_img>p:nth-child(2)
{
  margin-top:5px;
  color:#2D2F2B;
  font-size:16px;
  font-weight:bold;
}
div.zt_img>ul
{
 margin-top:5px;
}
div.zt_img>ul>li
{
 float:left;
 color:#5B534F;
}
div.zt_img>ul>li:nth-child(2)
{
  margin-left:30px;
}
div.zt_img>ul>li:nth-child(2)>a
{
   display:inline-block;
   width:15px;
   height: 15px;
   background:url("../images/ge_2.PNG") no-repeat;
   background-size:100%;
   vertical-align: middle;
}
div.zt_img>ul>li:nth-child(3)
{
   margin-left:10px;
}
#main
{
 margin-top:10px;
}
div.zt_img>ul>li:nth-child(3)>a
{
   display:inline-block;
   width:15px;
   height: 15px;
   background:url("../images/gz_3.PNG") no-repeat;
   background-size:100%;
   vertical-align: middle;
}