section
{
 width:1000px;
 margin:0px auto;
}
#upload_img
{
  width:907px;
  background-color:#EFEFEF;
  margin:0px auto;
  padding:20px 50px;
}
div.upload_img_main
{
  background-color:#fff;
  width:700px;
  margin:0px auto;
  margin-bottom:20px;
  border:1px dashed #D1D1D1;
}
div[class~=upload_img_main]>p:nth-child(1)>button
{
   background-color:#3EB1FD;
   padding:10px 28px;
   color:#fff;
   border:none;
}
div[class~=upload_img_main]>p:nth-child(1)>button>span
{
 font-size:20px;
 font-weight:bold;
}
div[class~=upload_img_main]>p:nth-child(1)
{
  text-align:center;
  margin:75px 100px;
  margin-bottom:10px;
}
div[class~=upload_img_main]>p:nth-child(2)
{
 text-align:center;
 margin-bottom:72px;
 margin-top:10px;
}
.give_table_last:after
{
  content:"";
  display:table;
}
#upload_img>p
{
 color:#4D4D4D;
 font-size:20px;
 font-weight:bold;
 margin-bottom:10px;
}
#upload_img_form
{
  margin-top:20px;
  margin-left:152px;
  font-family:"microsoft yahei";
}
div.upload_img_form_1
{
 float:left;
 margin-right:20px;
}
div.upload_img_form_2
{
 float:left;
 margin-top:10px;
}
div.upload_img_form_2>ul
{
 overflow:hidden;
}
div.upload_img_form_2>ul>li
{
 float:left;
 margin-left:10px;
}
div.upload_img_form_2>ul:first-child>li:first-child
{
  padding-left:18px;
  background:url("../images/2016-03-29_195555.png") no-repeat 0px 2px;
  margin-bottom:20px;
}
div.upload_img_form_2>ul:last-child>li:first-child
{
  padding-left:18px;
  background:url("../images/2016-03-29_195617.png") no-repeat 0px 2px;
}
div.upload_img_form_1>dl
{
 overflow:hidden;
 margin-bottom:20px;
}
div.upload_img_form_1>dl>dt
{
 float:left;
 width:46px;
}
div.upload_img_form_1>dl>dd
{
 float:left;
}
div.upload_img_form_1>dl>dd>textarea
{
  overflow:hidden;
  width:163px;
  height:50px;
}
div.upload_img_form_1>dl>dd>input
{
 width:166px;
 padding-top:3px;
 padding-bottom:3px;
 vertical-align:top;
}
div.upload_img_form_1>dl:nth-child(4)>dd>a
{
vertical-align:super;
}
div.upload_img_form_1>dl:nth-child(4)>dd>img
{
 margin-left:10px;
 margin-right:5px;
}
div.upload_img_form_2>ul:first-child>li:last-child>a:first-child
{
 margin-right:5px;
}
div.upload_img_form_3>p
{
 float:left;
}
div.upload_img_form_3>ul
{
 float:left;
}
div.upload_img_form_3>ul>li
{
 float:left;
}
div[class~=upload_img_form_3]
{
  margin-top:50px;
}
div[class~=upload_img_form_3]>p>button
{
background-color: #3EB1FD;
padding: 10px 28px;
color: #fff;
border: none;
font-size: 20px;
font-weight: bold;
}
div[class~=upload_img_form_3]>ul
{
 margin-top:17px;
 margin-left:28px;
}
div[class~=upload_img_form_3]>ul>li:first-child
{
 font-family:"microsoft yahei";
}
div[class~=upload_img_form_3]>ul>li
{
 margin-right:10px;
}
div.upload_img_form_1>dl:nth-child(2)>dd>span
{
 vertical-align: -webkit-baseline-middle;
}